html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #000000;
  overflow-x: clip; /* moderne Browser */
  background-color: #F0EBE6;
}

h1 {
font-family: Epilogue;
font-size: 70px;
font-style: normal;
font-weight: 900;
line-height: 100%;
text-transform: lowercase;
letter-spacing: -1.4px;
margin: 0 0 10px 0 
}

.h1-highlight {
font-family: "Lora";
font-size: 72px;
font-style: italic;
font-weight: 400;
line-height: 90%;
text-transform: lowercase;
letter-spacing: -2.16px;
}

h2 {
font-family: Epilogue;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 110%;
text-transform: lowercase;
margin: 0 0 10px 0 
}

.h2-highlight {
font-family: "Lora";
font-size: 42px;
font-style: italic;
font-weight: 400;
line-height: 95%;
text-transform: lowercase;
letter-spacing: -0.84px;
}

h3 {
font-family: Epilogue;
font-size: 25px;
font-style: normal;
font-weight: 900;
line-height: 115%;
letter-spacing: -0.5px;
text-transform: lowercase;
}


.h3-highlight {
font-family: Lora;
font-size: 25px;
font-style: italic;
font-weight: 400;
line-height: normal;
letter-spacing: -0.5px;
text-transform: lowercase;
margin-bottom: 8px;
}

h4 {
font-family: Epilogue;
font-size: 18px;
font-style: normal;
font-weight: 900;
line-height: 110%;
letter-spacing: -0.32px;
text-transform: lowercase;
}

p {
font-family: Epilogue;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 24px */
letter-spacing: -0.36px;
}


/* ----- NAVIGATION ----- */
.site-header {
  position: absolute; /* <-- Wichtig: über dem Hero positionieren */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* Damit sie über der Animation liegt */
  background: transparent; /* kein weißer Hintergrund */
}

.nav-wrapper {
  width: 100%;
  background: none;
}

.nav-container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 22px clamp(16px, 4vw, 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.brand img {
  height: clamp(26px, 4vw, 30px);
  width: auto;
}
nav.primary {
  display: flex;
  gap: clamp(12px, 7vw, 40px);
}
nav.primary a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #303030;
  transition: text-decorations 1s ease;
}
nav.primary a:hover { 
    text-decoration: underline;
}

.cta {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #303030;
  font-family: Loretta Display;
  font-weight: 500;
  font-style: italic;
}
.cta .label {
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
}
.cta .arrow-svg {
  width: clamp(14px, 2vw, 10px);
  height: auto;
}
.cta:hover .label { border-bottom-color: #2d2b29cc; }
